html, body{
    background: #e9e9e9;
}
h3{
    margin-bottom:0;
}
.container{
    margin-top: 25px;
    background-color: white;
    border: 1px solid #eeeeee;
    -webkit-box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    3px 3px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         3px 3px 10px 0px rgba(50, 50, 50, 0.75);

}
.need-top-btn{
    margin-top: 15px;
}
.sort-button, .sort-button:hover, .sort-button:active, .sort-button:focus{
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    margin-top: -13px;
}
.table-section{
    margin-top: 30px;
    border: 1px solid #e9e9e9;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    1px 1px 5px 0px rgba(50, 50, 50, 0.3);
    box-shadow:         1px 1px 5px 0px rgba(50, 50, 50, 0.3);
}
.table-content{
    max-height: 200px;
    overflow: auto;
}
.head-row{
    padding-left: 0;
    padding-right: 0;
    background-color: #204d74;
    color: white;
}
.no-side{
    padding-left:0;
    padding-right:0;
}
.add-top{
    padding-top:10px;
}
.list-row:not(:last-child){
    border-bottom: 1px solid #e9e9e9;
}
.list-row:nth-child(even){
    background-color: #e9e9e9;
}
.text-section{
    margin-top: 20px;
    margin-bottom: 30px;
}
.custom-modal-body{
    min-height: 250px;
}
.custom-modal-body p{
    font-weight: bolder;
}
.custom-modal-body .row{
    margin-top: 10px;
}
.custom-error{
    color: red;
    font-size: 10px;
}
.error-field{
    border: 1px inset #ac2925;

}

.graph-modal-body{
    height: 400px;
}
@media screen and (max-width: 600px){
    html, body{
        font-size: 10px;
    }

}

/*Chart transitions*/

.chart {
    background: #eee;
    padding: 3px;
    max-height: 350px;
    overflow: auto;
}

.chart div {
    width: 0;
    transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

.chart div {
    font: 10px sans-serif;
    background-color: steelblue;
    text-align: right;
    padding: 3px;
    margin: 5px;
    color: white;
    box-shadow: 2px 2px 2px #666;
    overflow: hidden;
    max-height: 20px;
}